{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Menu</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

</head>
<body>
    <nav>
        <ul>
            {% for item in menu_items %}
                {% if not item.parent %} {# Проверка, что элемент не имеет родителя #}
                    <li>
                        <a href="{{ item.url }}">{{ item.title }}</a>
                        {% if item.children.all %}
                            <ul>
                                {% for child in item.children.all %}
                                    <li>
                                        <a href="{{ child.url }}">{{ child.title }}</a>
                                        {% include 'menu.html' with menu_items=child.children.all %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</body>
</html>
